@import "tailwindcss";

/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
 */
:root {
  --background: #ffffff;
  --foreground: #00132D;
  --primaryColor:#0A1128
  --secundaryColor:#001F54  
  --AcenpColor:#034078

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0A1128;
    --foreground: #ededed;
  }
}
html{
    scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);

}
footer{
  background-color: var(--primaryColor);
}

.bg-presentacion {
  background-color: white;
}
